extends layout

block content
  title
  .Bandeau
  section
    img(src='../src/images/Bandeau.png', style='margin-bottom: 5px')
    section.section
      .top-border
        .row
        .large-12
          nav#nav-under
            div
              ul.inline-list-custom
                li
                  a(href='/users') Profil
                li
                  a(href='/photos') Galerie Photos
                  .top-border
  h1 #{login.title}
    .row
      .small-12.medium-12.large-12.columns
          #container_details
            .login_datas
              .field
                  #urlDiv
                    input#url(type="text", value=login.url)
                  #titleDiv
                    input#title(type='text', value=login.title)
                  #statusDiv
                    - if (login.private === 0)
                      input(type='radio', name="radio", value=0, checked='checked') 
                      label Login publique
                      input(type='radio', name="radio", value=1) 
                      label Login privée
                    - else
                      input(type='radio', name="radio", value=0) 
                      label Login publique
                      input(type='radio', name="radio", value=1, checked='checked') 
                      label Login privée
                p#date #{login.date_login}
                  #loginDiv
                    img(src="#{login.url}")
          .row
            #buttons
              .update  
                button#updateLogin(onclick='updateLogin()') Modifier Login
              .delete
                button#deletLogin(onclick='deleteLogin(#{login.id})') Supprimer Login               
              .saveupdate
                button#saveUpdate(onclick='saveUpdateLogin(#{login.id})') Sauvegarder modification
              .cancelupdate
                button#cancel(onclick='cancelupdate(#{login.id})') annuler modificattion

    script(src="/src/ajax.js")
    script(src="/src/loadLogins.js")