extends layout

block content
  title
  .Bandeau
  section
    img(src='../src/images/Bandeau.png', style='margin-bottom: 5px')
    section.section
      .top-border
        .row
        .large-12
          nav#nav-under
            div
              ul.inline-list-custom
                li
                  a(href='/users') Profil
                li
                  a(href='/signups') Galerie Signups
                li
                  a(href='/PoI') Galerie Points d'intêret
                  .top-border
  h1 #{signup.title}
    .row
      .small-12.medium-12.large-12.columns
          #container_details
            .signup_datas
              .field
                  #urlDiv
                    input#url(type="text", value=signup.url)
                  #titleDiv
                    input#title(type='text', value=signup.title)
                  #statusDiv
                    - if (signup.private === 0)
                      input(type='radio', name="radio", value=0, checked='checked') 
                      label Signup publique
                      input(type='radio', name="radio", value=1) 
                      label Signup privée
                    - else
                      input(type='radio', name="radio", value=0) 
                      label Signup publique
                      input(type='radio', name="radio", value=1, checked='checked') 
                      label Signup privée
                p#date #{signup.date_signup}
                  #signupDiv
                    img(src="#{signup.url}")
          .row
            #buttons
              .update  
                button#updateSignup(onclick='updateSignup()') Modifier Signup
              .delete
                button#deletSignup(onclick='deleteSignup(#{signup.id})') Supprimer Signup               
              .saveupdate
                button#saveUpdate(onclick='saveUpdateSignup(#{signup.id})') Sauvegarder modification
              .cancelupdate
                button#cancel(onclick='cancelupdate(#{signup.id})') annuler modificattion

    script(src="/src/ajax.js")
    script(src="/src/loadSignups.js")